

{% for article in articles %}
    <div class="news__card">
        <div class="news__card-image">
            <img src="{{ article.image.url }}" alt="Фото статьи">
        </div>
        <div class="news__card-text-container">
            <div class="best-projects__card-heading">
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            </div>
            <hr>
            <div class="news__card-description">
                <p>{{ article.paragraphs.all.0.content|truncatechars_html:200 }}</p>
            </div>
            <div class="news__card-date">
                <i>{{ article.created_at|date:"d.m.Y" }}</i>
            </div>
        </div>
        <div class="news-page__read-button">
            <a href="{{ article.get_absolute_url }}"><button>Читать</button></a>
        </div>
    </div>
{% endfor %}