{% extends 'base.html' %}
{% load static %}

{% block title %}Напарили ДВ{% endblock %}

{% block content %}
<div class="slider">
    <div class="slider-item">
        <div class="slider-heading container">
            <h1>Каркасный дом Солея</h1>
            <hr>
            <div class="slider-heading__promo">
                <p>Закажите строительство дома до 30 ноября<br> и получите скидку 10 000</p>
                <div class="slider-heading__want-the-house-button">
                    <button class="openModal">
                        <img src="{% static 'images/want-the-house.svg' %}" alt="">
                    </button>
                </div>
            </div>
        </div>
        <img class="slider-image" src="static/images/house.png" alt="Дом Солея">
        <div class="slider-content">
            <div class="slider-content-inner">
                <ul class="table-of-contents">
                    <li><span>Площадь</span><span>84 м²</span></li>
                    <li><span>Количество спален</span><span>1</span></li>
                    <li><span>Количество санузлов</span><span>1</span></li>
                    <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="slider-heading container">
            <h1>Каркасный дом Солея</h1>
            <hr>
            <div class="slider-heading__promo">
                <p>Закажите строительство дома до 30 ноября<br> и получите скидку 10 000</p>
                <div class="slider-heading__want-the-house-button">
                    <button class="openModal">
                        <img src="static/images/want-the-house.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
        <img class="slider-image" src="static/images/house.png" alt="Дом Солея">
        <div class="slider-content">
            <div class="slider-content-inner">
                <ul class="table-of-contents">
                    <li><span>Площадь</span><span>84 м²</span></li>
                    <li><span>Количество спален</span><span>1</span></li>
                    <li><span>Количество санузлов</span><span>1</span></li>
                    <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="slider-heading container">
            <h1>Каркасный дом Солея</h1>
            <hr>
            <div class="slider-heading__promo">
                <p>Закажите строительство дома до 30 ноября<br> и получите скидку 10 000</p>
                <div class="slider-heading__want-the-house-button">
                    <button class="openModal">
                        <img src="static/images/want-the-house.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
        <img class="slider-image" src="static/images/house.png" alt="Дом Солея">
        <div class="slider-content">
            <div class="slider-content-inner">
                <ul class="table-of-contents">
                    <li><span>Площадь</span><span>84 м²</span></li>
                    <li><span>Количество спален</span><span>1</span></li>
                    <li><span>Количество санузлов</span><span>1</span></li>
                    <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="advantages container">
    <div class="advantages__heading">
        <h3>Наши преимущества</h3>
    </div>
    <div class="advantages__stats">
        <div class="advantages__stats-column">
            <div class="advantages__stats-number">
                <p>10</p>
            </div>
            <div class="advantages__stats-label">
                Лет на рынке
            </div>
        </div>
        <div class="advantages__stats-column">
            <div class="advantages__stats-number">
                <p>315</p>
            </div>
            <div class="advantages__stats-label">
                Домов<br>построено
            </div>
        </div>
        <div class="advantages__stats-column">
            <div class="advantages__stats-number">
                <p>3600</p>
            </div>
            <div class="advantages__stats-label">
                Довольных<br> клиента
            </div>
        </div>
    </div>

    <div class="advantages__details">
        <div class="advantages__details-row">
            <div class="advantages__textblock">
                <div class="advantages__details-heading">
                    <p>100% «под ключ»</p>
                </div>
                <div>
                    <p>Не следует, однако, забывать, что внедрение современных методик говорит
                        о возможностях системы обучения кадров, соответствующей насущным потребностям</p>
                </div>
            </div>
            <div class="advantages__textblock">
                <div class="advantages__details-heading">
                    <p>100% «под ключ»</p>
                </div>
                <div>
                    <p>Не следует, однако, забывать, что внедрение современных методик говорит
                        о возможностях системы обучения кадров, соответствующей насущным потребностям</p>
                </div>
            </div>
            <div class="advantages__textblock">
                <div class="advantages__details-heading">
                    <p>100% «под ключ»</p>
                </div>
                <div>
                    <p>Не следует, однако, забывать, что внедрение современных методик говорит
                        о возможностях системы обучения кадров, соответствующей насущным потребностям</p>
                </div>
            </div>
        </div>
        <div class="advantages__details-row advantages__details-row-with-images">
            <div class="advantages__details-big-left-column">
                <div>
                    <img src="static/images/advantages1.png" alt="">
                </div>
            </div>
            <div class="advantages__details-small-right-column">
                <div class="advantages__textblock">
                    <div class="advantages__details-heading">
                        <p>100% «под ключ»</p>
                    </div>
                    <div>
                        <p>Не следует, однако, забывать, что внедрение современных методик говорит
                            о возможностях системы обучения кадров, соответствующей насущным потребностям</p>
                    </div>
                </div>
                <div>
                    <img src="static/images/advantages1.png" alt="">
                </div>
                <div class="advantages__choose-house">
                    <button>
                        <img src="static/images/choose-house-button.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="best-projects container">
    <div class="best-projects__header">
        <div class="best-projects__heading">
            <h4>Топ 12 проектов</h4>
        </div>
        <div class="best-projects__to-catalog">
            В каталог
        </div>
    </div>
    <div class="best-projects__filters">
        <form action="" class="best-projects__filters-form">
            <div>
                <div class="best-projects__radio-filter">
                    <label for="" class="best-projects__filters-label">Количество спален</label>
                    <div class="best-projects__radio-group">
                        <div class="best-projects__radio-button">
                            <input type="radio" id="bedrooms-1" name="bedrooms" value="1">
                            <label for="bedrooms-1">1</label>
                        </div>
                        <div class="best-projects__radio-button">
                            <input type="radio" id="bedrooms-2" name="bedrooms" value="2">
                            <label for="bedrooms-2">2</label>
                        </div>
                        <div class="best-projects__radio-button">
                            <input type="radio" id="bedrooms-3" name="bedrooms" value="3">
                            <label for="bedrooms-3">3</label>
                        </div>
                        <div class="best-projects__radio-button">
                            <input type="radio" id="bedrooms-4" name="bedrooms" value="4">
                            <label for="bedrooms-4">4</label>
                        </div>
                    </div>
                </div>

                <div class="best-projects__radio-filter">
                    <label for="" class="best-projects__filters-label">Этажей</label>
                    <div class="best-projects__radio-group">
                        <div class="best-projects__radio-button">
                            <input type="radio" id="floors-1" name="floors" value="1">
                            <label for="floors-1">1</label>
                        </div>
                        <div class="best-projects__radio-button">
                            <input type="radio" id="floors-2" name="floors" value="2">
                            <label for="floors-2">2</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>


                <div class="best-projects__select-filter">
                    <select>
                        <option>Дом из газоблока</option>
                        <option>Дом из газоблока</option>
                        <option>Дом из газоблока</option>
                        <option>Дом из газоблока</option>
                    </select>
                </div>
    
                <div class="best-projects__number-filter">
                    <div class="best-projects__number">
                        <label for="min-price">От</label>
                        <input type="number" id="min-price" placeholder="1 500 000">
                    </div>
                    <div class="best-projects__number">
                        <label for="max-price">До</label>
                        <input type="number" id="max-price" placeholder="15 000 000">
                    </div>
                </div>


            </div>

            

            
        </form>
    </div>
    <div class="best-projects__cards">
        <div class="best-projects__card">
            <div class="photo-slider">
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card1.png" alt="">
                </div>
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card1.png" alt="">
                </div>
            </div>
            <div class="best-projects__card-text-container">
                <div class="best-projects__card-heading">
                    <p>Каркасный дом БАРН</p>

                </div>
                <hr>
                <div class="best-projects__card-content">
                    <ul class="table-of-contents">
                        <li><span>Площадь</span><span>84 м²</span></li>
                        <li><span>Количество спален</span><span>1</span></li>
                        <li><span>Количество санузлов</span><span>1</span></li>
                        <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                    </ul>
                </div>
            </div>
            <div class="best-projects__order-button">
                <button>Заказать строительство</button>
            </div>
            <div class="best-projects__more-button">
                <button>Узнать подробнее</button>
            </div>
        </div>

        <div class="best-projects__card">
            <div class="photo-slider">
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card1.png" alt="">
                </div>
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card1.png" alt="">
                </div>
            </div>
            <div class="best-projects__card-text-container">
                <div class="best-projects__card-heading">
                    <p>Каркасный дом БАРН</p>

                </div>
                <hr>
                <div class="best-projects__card-content">
                    <ul class="table-of-contents">
                        <li><span>Площадь</span><span>84 м²</span></li>
                        <li><span>Количество спален</span><span>1</span></li>
                        <li><span>Количество санузлов</span><span>1</span></li>
                        <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                    </ul>
                </div>
            </div>
            <div class="best-projects__order-button">
                <button>Заказать строительство</button>
            </div>
            <div class="best-projects__more-button">
                <button>Узнать подробнее</button>
            </div>
        </div>
        <div class="best-projects__card">
            <div class="photo-slider">
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card2.png" alt="">
                </div>
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card2.png" alt="">
                </div>
            </div>
            <div class="best-projects__card-text-container">
                <div class="best-projects__card-heading">
                    <p>Каркасный дом БАРН</p>

                </div>
                <hr>
                <div class="best-projects__card-content">
                    <ul class="table-of-contents">
                        <li><span>Площадь</span><span>84 м²</span></li>
                        <li><span>Количество спален</span><span>1</span></li>
                        <li><span>Количество санузлов</span><span>1</span></li>
                        <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                    </ul>
                </div>
            </div>
            <div class="best-projects__order-button">
                <button>Заказать строительство</button>
            </div>
            <div class="best-projects__more-button">
                <button>Узнать подробнее</button>
            </div>
        </div>
        <div class="best-projects__card">
            <div class="photo-slider">
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card3.png" alt="">
                </div>
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card3.png" alt="">
                </div>
            </div>
            <div class="best-projects__card-text-container">
                <div class="best-projects__card-heading">
                    <p>Каркасный дом БАРН</p>

                </div>
                <hr>
                <div class="best-projects__card-content">
                    <ul class="table-of-contents">
                        <li><span>Площадь</span><span>84 м²</span></li>
                        <li><span>Количество спален</span><span>1</span></li>
                        <li><span>Количество санузлов</span><span>1</span></li>
                        <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                    </ul>
                </div>
            </div>
            <div class="best-projects__order-button">
                <button>Заказать строительство</button>
            </div>
            <div class="best-projects__more-button">
                <button>Узнать подробнее</button>
            </div>
        </div>
        <div class="best-projects__card">
            <div class="photo-slider">
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card4.png" alt="">
                </div>
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card4.png" alt="">
                </div>
            </div>
            <div class="best-projects__card-text-container">
                <div class="best-projects__card-heading">
                    <p>Каркасный дом БАРН</p>

                </div>
                <hr>
                <div class="best-projects__card-content">
                    <ul class="table-of-contents">
                        <li><span>Площадь</span><span>84 м²</span></li>
                        <li><span>Количество спален</span><span>1</span></li>
                        <li><span>Количество санузлов</span><span>1</span></li>
                        <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                    </ul>
                </div>
            </div>
            <div class="best-projects__order-button">
                <button>Заказать строительство</button>
            </div>
            <div class="best-projects__more-button">
                <button>Узнать подробнее</button>
            </div>
        </div>
        <div class="best-projects__card">
            <div class="photo-slider">
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card1.png" alt="">
                </div>
                <div class="best-projects__card-image photo-slider-item">
                    <img src="static/images/card1.png" alt="">
                </div>
            </div>
            <div class="best-projects__card-text-container">
                <div class="best-projects__card-heading">
                    <p>Каркасный дом БАРН</p>

                </div>
                <hr>
                <div class="best-projects__card-content">
                    <ul class="table-of-contents">
                        <li><span>Площадь</span><span>84 м²</span></li>
                        <li><span>Количество спален</span><span>1</span></li>
                        <li><span>Количество санузлов</span><span>1</span></li>
                        <li><span>Стоимость</span><span>от 1 170 000 р</span></li>
                    </ul>
                </div>
            </div>
            <div class="best-projects__order-button">
                <button>Заказать строительство</button>
            </div>
            <div class="best-projects__more-button">
                <button>Узнать подробнее</button>
            </div>
        </div>
    </div>
</div>

<div class="about container">
    <div class="about-company">
        <div class="about-company__big-left-column">
            <div class="about-company__heading">
                <h4>О компании</h4>
                <hr>
            </div>
            <div>
                <div class="about-company__row">
                    <div class="about-company__photo">
                        <img src="static/images/about-company.png" alt="">
                    </div>
                    <div class="about-company__textblock">
                        <div class="about-company__details-heading">
                            <h5>Воистину радостный звук:<br> старческий скрип Амстердама</h5>
                        </div>
                        <div class="about-company__details-text">
                            <p class="font__inter">Противоположная точка зрения подразумевает, что
                                реплицированные с зарубежных источников, современные исследования и по сей день
                                остаются уделом либералов, которые жаждут быть обнародованы. Вот вам яркий
                                пример современных тенденций — семантический разбор внешних противодействий
                                обеспечивает актуальность форм воздействия. </p>
                        </div>
                        <div class="about-company__watch-more">
                            <button>
                                <img src="static/images/watch-more.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-company__big-right-column">
            <div>
                <img src="static/images/about-company1.png" alt="">
            </div>
        </div>
    </div>

    <div class="work-stages">
        <div class="work-stages__heading">
            <h4>Этапы работы</h4>
        </div>
        <div class="work-stages__cards">
            <div class="work-stages__info-card">
                <div class="work-stages__card-header">
                    <div class="work-stages__card-number">
                        01
                    </div>
                    <div>
                        <p class="work-stages__card-heading">Индивидуальные планировки</p>
                    </div>
                </div>
                <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                    разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                    для первоочередных требований</p>
            </div>
            <div class="work-stages__info-card">
                <div class="work-stages__card-header">
                    <div class="work-stages__card-number">
                        01
                    </div>
                    <div>
                        <p class="work-stages__card-heading">Индивидуальные планировки</p>
                    </div>
                </div>
                <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                    разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                    для первоочередных требований</p>
            </div>
            <div class="work-stages__info-card">
                <div class="work-stages__card-header">
                    <div class="work-stages__card-number">
                        01
                    </div>
                    <div>
                        <p class="work-stages__card-heading">Индивидуальные планировки</p>
                    </div>
                </div>
                <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                    разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                    для первоочередных требований</p>
            </div>
            <div class="work-stages__info-card">
                <div class="work-stages__card-header">
                    <div class="work-stages__card-number">
                        01
                    </div>
                    <div>
                        <p class="work-stages__card-heading">Индивидуальные планировки</p>
                    </div>
                </div>
                <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                    разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                    для первоочередных требований</p>
            </div>
            <div class="work-stages__info-card">
                <div class="work-stages__card-header">
                    <div class="work-stages__card-number">
                        01
                    </div>
                    <div>
                        <p class="work-stages__card-heading">Индивидуальные планировки</p>
                    </div>
                </div>
                <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                    разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                    для первоочередных требований</p>
            </div>
            <div class="work-stages__image-card">
                <img src="static/images/work-stages-0.png" alt="">
            </div>
            <!-- <div class="work-stages__column">
                <div class="work-stages__info-card">
                    <div class="work-stages__card-header">
                        <div class="work-stages__card-number">
                            01
                        </div>
                        <div>
                            <p class="work-stages__card-heading">Индивидуальные планировки</p>
                        </div>
                    </div>
                    <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                        разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                        для первоочередных требований</p>
                </div>
                <div class="work-stages__info-card">
                    <div class="work-stages__card-header">
                        <div class="work-stages__card-number">
                            03
                        </div>
                        <div>
                            <p class="work-stages__card-heading">Индивидуальные планировки</p>
                        </div>
                    </div>
                    <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                        разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                        для первоочередных требований</p>
                </div>
            </div>
            <div class="work-stages__column">
                <div class="work-stages__info-card">
                    <div class="work-stages__card-header">
                        <div class="work-stages__card-number">
                            01
                        </div>
                        <div>
                            <p class="work-stages__card-heading">Индивидуальные планировки</p>
                        </div>
                    </div>
                    <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                        разума над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса
                        для первоочередных требований</p>
                </div>
                <div class="work-stages__image-card">
                    <img src="static/images/work-stages-0.png" alt="">
                </div>
            </div>
            <div class="work-stages__column">
                <div class="work-stages__image-card">
                    <img src="static/images/work-stages-0.png" alt="">
                </div>
                <div class="work-stages__card-header">
                    <div class="work-stages__info-card">
                        <div class="work-stages__card-header">
                            <div class="work-stages__card-number">
                                01
                            </div>
                            <div>
                                <p class="work-stages__card-heading">Индивидуальные планировки</p>
                            </div>
                        </div>
                        <p>Безусловно, современная методология разработки требует от нас анализа приоретизации
                            разума над эмоциями. Следует отметить, что перспективное планирование не оставляет
                            шанса для первоочередных требований</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="team">
        <div class="team__heading">
            <h4>Наша команда</h4>
        </div>
        <div class="team__cards">
            <div class="team__slider-item">
                <div>
                    <img src="static/images/team1.png" alt="">
                </div>
                <div class="team__name">
                    <p>Анастасия Жукова</p>
                </div>
                <hr>
                <div class="team__role">
                    <p>Генеральный директор</p>
                </div>
            </div>
            <div class="team__slider-item">
                <div>
                    <img src="static/images/team2.png" alt="">
                </div>
                <div class="team__name">
                    <p>Анастасия Жукова</p>
                </div>
                <hr>
                <div>
                    <p>Генеральный директор</p>
                </div>
            </div>
            <div class="team__slider-item">
                <div>
                    <img src="static/images/team3.png" alt="">
                </div>
                <div class="team__name">
                    <p>Анастасия Жукова</p>
                </div>
                <hr>
                <div>
                    <p>Генеральный директор</p>
                </div>
            </div>
            <div class="team__slider-item">
                <div>
                    <img src="static/images/team4.png" alt="">
                </div>
                <div class="team__name">
                    <p>Анастасия Жукова</p>
                </div>
                <hr>
                <div>
                    <p>Генеральный директор</p>
                </div>
            </div>
            <div class="team__slider-item">
                <div>
                    <img src="static/images/team4.png" alt="">
                </div>
                <div class="team__name">
                    <p>Анастасия Жукова</p>
                </div>
                <hr>
                <div>
                    <p>Генеральный директор</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feedback">
    <div class="feedback__background">
        <div class="feedback__row container">
            <div class="feedback__column">
                <div class="feedback__form">
                    <div class="feedback__heading">
                        <p>Закажите строительство дома</p>
                        <p>прямо сейчас!</p>
                    </div>
                    <form action="" id="feedbackForm">
                        <div class="feedback__input feedback__name-input">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="feedback__input">
                            <input type="tel" name="" id="id_phone" placeholder="+7 ">
                        </div>
                        <div class="feedback__agreement">
                            <div class="feedback__checkbox-wrap">
                                <input type="checkbox" id="consent" name="consent" required>
                            </div>
                            <div>
                                <label for="consent" class="feedback__checkbox-label">
                                    Даю своё согласие на обработку моих
                                    <a id="userAgreementLink" target="_blank">персональных данных</a>
                                </label>
                            </div>
                        </div>
                        <div class="feedback__button">
                            <button>
                                <img src="static/images/send.svg" alt="">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="reviews container">
    <div class="reviews__heading">
        <h4>Отзывы наших клиентов</h4>
    </div>
    <div class="reviews__slider">
        <div class="reviews__card">
            <div class="reviews__card-header">
                <div>
                    <img src="static/images/avatar.png" alt="">
                </div>
                <div>
                    <p>Евгений Пастухов</p>
                </div>
            </div>
            <div class="reviews__card-text">
                <p>Противоположная точка зрения подразумевает, что непосредственные участники технического
                    прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и
                    должны быть в равной степени предоставлены сами себе. Банальные, но неопровержимые выводы, а
                    также независимые государства призывают нас к новым свершениям...далее</p>
            </div>
            <div>
                <i>30.11.2024</i>
            </div>
            <div class="reviews__card-images">
                <div class="reviews__card-image">
                    <img src="static/images/gallery1.png" alt="">
                </div>
                <div class="reviews__card-image">
                    <img src="static/images/gallery1.png" alt="">
                </div>
                <div class="reviews__card-image">
                    <img src="static/images/gallery1.png" alt="">
                </div>
            </div>

            <div class="reviews__card-details">
                <div class="reviews__card-stars">
                    <img src="static/images/five-stars — копия.svg" alt="">
                </div>
                <div class="reviews__platform">
                    <div>
                        <img src="static/images/yandex.svg" alt="">
                    </div>
                    <div class="reviews__platform-stats font__inter">
                        <p>5.0 (230)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews__card">
            <div class="reviews__card-header">
                <div>
                    <img src="static/images/avatar.png" alt="">
                </div>
                <div>
                    <p>Евгений Пастухов</p>
                </div>
            </div>
            <div class="reviews__card-text">
                <p>Противоположная точка зрения подразумевает, что непосредственные участники технического
                    прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и
                    должны быть в равной степени предоставлены сами себе. Банальные, но неопровержимые выводы, а
                    также независимые государства призывают нас к новым свершениям...далее</p>
            </div>
            <div>
                <i>30.11.2024</i>
            </div>
            <div class="reviews__card-images">
                <div class="reviews__card-image">
                    <img src="static/images/gallery1.png" alt="">
                </div>

            </div>

            <div class="reviews__card-details">
                <div>
                    <img src="static/images/five-stars — копия.svg" alt="">
                </div>
                <div class="reviews__platform">
                    <div>
                        <img src="static/images/yandex.svg" alt="">
                    </div>
                    <div class="reviews__platform-stats font__inter">
                        <p>5.0 (230)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews__card">
            <div class="reviews__card-header">
                <div>
                    <img src="static/images/avatar.png" alt="">
                </div>
                <div>
                    <p>Евгений Пастухов</p>
                </div>
            </div>
            <div class="reviews__card-text">
                <p>Противоположная точка зрения подразумевает, что непосредственные участники технического
                    прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и
                    должны быть в равной степени предоставлены сами себе. Банальные, но неопровержимые выводы, а
                    также независимые государства призывают нас к новым свершениям...далее</p>
            </div>
            <div>
                <i>30.11.2024</i>
            </div>
            <div class="reviews__card-images">
                <div class="reviews__card-image">
                    <img src="static/images/gallery1.png" alt="">
                </div>
                <div class="reviews__card-image">
                    <img src="static/images/gallery1.png" alt="">
                </div>
            </div>

            <div class="reviews__card-details">
                <div>
                    <img src="static/images/five-stars — копия.svg" alt="">
                </div>
                <div class="reviews__platform">
                    <div>
                        <img src="static/images/yandex.svg" alt="">
                    </div>
                    <div class="reviews__platform-stats font__inter">
                        <p>5.0 (230)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews__card">
            <div class="reviews__card-header">
                <div>
                    <img src="static/images/avatar.png" alt="">
                </div>
                <div>
                    <p>Евгений Пастухов</p>
                </div>
            </div>
            <div class="reviews__card-text">
                <p>Противоположная точка зрения подразумевает, что непосредственные участники технического
                    прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и
                    должны быть в равной степени предоставлены сами себе. Банальные, но неопровержимые выводы, а
                    также независимые государства призывают нас к новым свершениям...далее</p>
            </div>
            <div>
                <i>30.11.2024</i>
            </div>
            <div class="reviews__card-images">
                <div>
                    <img src="static/images/gallery1.png" alt="">
                </div>
                <div>
                    <img src="static/images/gallery1.png" alt="">
                </div>
                <div>
                    <img src="static/images/gallery1.png" alt="">
                </div>
            </div>

            <div class="reviews__card-details">
                <div>
                    <img src="static/images/five-stars — копия.svg" alt="">
                </div>
                <div class="reviews__platform">
                    <div>
                        <img src="static/images/yandex.svg" alt="">
                    </div>
                    <div class="reviews__platform-stats font__inter">
                        <p>5.0 (230)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery">
    <div class="gallery__heading container">
        <h4>Фотогалерея</h4>
    </div>
    <div class="gallery__slider">
        <div class="gallery__photo">
            <img src="static/images/gallery1.png" alt="">
        </div>
        <div class="gallery__photo">
            <img src="static/images/gallery1.png" alt="">
        </div>
        <div class="gallery__photo">
            <img src="static/images/gallery1.png" alt="">
        </div>
        <div class="gallery__photo">
            <img src="static/images/gallery1.png" alt="">
        </div>
    </div>
</div>

<div class="news container">
    <div class="news__header">
        <div class="news__header-left">
            <div class="news__heading">
                <h4>Наши новости</h4>
            </div>
        </div>
        <div class="news__header-right">
            <div class="news__header-right-buttons">
                <div class="news__header-button">
                    <button>Блог</button>
                </div>
                <div class="news__header-button">
                    <button>Новости</button>
                </div>
            </div>
            <div class="news__header-more">
                <a href="">Смотреть всё</a>
            </div>
        </div>
        <div class="news__read-button">
            <button>
                <img src="{% static 'images/read-news.svg' %}" alt="">
            </button>
        </div>
    </div>
    <hr>
    <div>
        
        <div class="news__content">
            <div class="news__small-left-column">
                <div class="news__photo">
                    <img src="static/images/news1.png" alt="">
                </div>
            </div>
            <div class="news__big-right-column">
                <div class="news__new-heading">
                    <p>Британские «ученые» заявили, что цены на бензин начинают падать</p>
                </div>
                <div class="news__new-text">
                    Безусловно, современная методология разработки требует от нас анализа приоретизации разума
                    над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса для
                    первоочередных требований
                </div>
                <div class="news__date">
                    <i>30.11.2024</i>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="news__content">
            <div class="news__small-left-column">
                <div class="news__photo">
                    <img src="static/images/new2.png" alt="">
                </div>
            </div>
            <div class="news__big-right-column">
                <div class="news__new-heading">
                    <p>Британские «ученые» заявили, что цены на бензин начинают падать</p>
                </div>
                <div class="news__new-text">
                    Безусловно, современная методология разработки требует от нас анализа приоретизации разума
                    над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса для
                    первоочередных требований
                </div>
                <div class="news__date">
                    <i>30.11.2024</i>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="news__content">
            <div class="news__small-left-column">
                <div class="news__photo">
                    <img src="static/images/new3.png" alt="">
                </div>
            </div>
            <div class="news__big-right-column">
                <div class="news__new-heading">
                    <p>Британские «ученые» заявили, что цены на бензин начинают падать</p>
                </div>
                <div class="news__new-text">
                    Безусловно, современная методология разработки требует от нас анализа приоретизации разума
                    над эмоциями. Следует отметить, что перспективное планирование не оставляет шанса для
                    первоочередных требований
                </div>
                <div class="news__date">
                    <i>30.11.2024</i>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="information">
    <div class="answers container">
        <div class="answers__heading">
            <h4>Ответы на вопросы</h4>
        </div>

        <div class="half">
            <div class="tab">
                <input id="tab-1" type="checkbox" name="tabs">
                <div class="tab-label">
                        <label for="tab-1">Вы знаете свой веб-сайт</label>
                </div>
                <hr>
                <div class="tab-content">
                    <p>Ваша идеальная тема также зависит от типа контента, который публикует ваш сайт. По сути,
                        вы хотите смотреть на такие вещи, как скорость загрузки, хотите ли вы современный дизайн
                        или что-то действительно простое, такие функции, как магазин электронной коммерции, блог
                        или видеоблог, а также количество изображений и текст в теме.</p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-2" type="checkbox" name="tabs">
                <div class="tab-label">
                    <label for="tab-2">Вы знаете свой веб-сайт</label>
                </div>
                <hr>
                <div class="tab-content">
                    <p>Ваша идеальная тема также зависит от типа контента, который публикует ваш сайт. По сути,
                        вы хотите смотреть на такие вещи, как скорость загрузки, хотите ли вы современный дизайн
                        или что-то действительно простое, такие функции, как магазин электронной коммерции, блог
                        или видеоблог, а также количество изображений и текст в теме.</p>
                </div>
            </div>
            <div class="tab">
                <input id="tab-3" type="checkbox" name="tabs">
                <div class="tab-label">
                        <label for="tab-3">Вы знаете свой веб-сайт</label>
                </div>
                <hr>
                <div class="tab-content">
                    <p>Ваша идеальная тема также зависит от типа контента, который публикует ваш сайт. По сути,
                        вы хотите смотреть на такие вещи, как скорость загрузки, хотите ли вы современный дизайн
                        или что-то действительно простое, такие функции, как магазин электронной коммерции, блог
                        или видеоблог, а также количество изображений и текст в теме.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts container">
        <div class="contacts__small-left-column">
            <div class="contacts__heading">
                <h4>Контакты</h4>
            </div>
            <div class="contacts__info">
                <div class="contacts__block">
                    <div>
                        <img src="static/images/contacts-icon-1.svg" alt="">
                    </div>
                    <div>
                        <div class="contacts__block-heading">
                            <p>Главный офис:</p>
                        </div>
                        <div class="font__inter">
                            <p>г. Владивосток, Волгоградская 7</p>
                        </div>
                    </div>
                </div>
                <div class="contacts__block">
                    <div>
                        <img src="static/images/contacts-icon-2.svg" alt="">
                    </div>
                    <div>
                        <div class="contacts__block-heading">
                            <p>Время работы:</p>
                        </div>
                        <div class="font__inter">
                            <p>ПН-СБ с 10:00 - 18:00</p>
                        </div>
                    </div>
                </div>
                <div class="contacts__block">
                    <div>
                        <img src="static/images/contacts-icon-3.svg" alt="">
                    </div>
                    <div>
                        <div class="contacts__block-heading">
                            <p>Телефон:</p>
                        </div>
                        <div class="font__inter">
                            <p>+7 (908) 998-58-70</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__big-right-column">
            <div class="map" id="map">

            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.slider').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            adaptiveHeight: false,
            autoplay: false,
        });
    });
    $(document).ready(function () {
        $('.photo-slider').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            adaptiveHeight: false,
            autoplay: false,
        });
    });
    $(document).ready(function () {
        $('.team__cards').slick({
            arrows: true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1, 
            responsive: [
            {
                breakpoint: 1024, 
                settings: {
                    slidesToShow: 3, 
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 768, 
                settings: {
                    slidesToShow: 2, 
                    slidesToScroll: 1
                }
            }, 
            {
                breakpoint: 576, 
                settings: {
                    slidesToShow: 1, 
                    slidesToScroll: 1
                }
            }
        ]
        });
    });
    $(document).ready(function () {
        $('.reviews__slider').slick({
            arrows: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1, 
            responsive: [
                {
                    breakpoint: 1024, 
                    settings: {
                        slidesToShow: 3, 
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 768, 
                    settings: {
                        slidesToShow: 2, 
                        slidesToScroll: 1
                    }
                }, 
                {
                    breakpoint: 576, 
                    settings: {
                        slidesToShow: 1, 
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
    $(document).ready(function () {
        $('.gallery__slider').slick({
            centerMode: true,
            arrows: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1
        });
    });


    var myMap;
    ymaps.ready(function () {
        myMap = new ymaps.Map("map", {
            center: [43.157062, 131.926061],
            zoom: 16,
            controls: []
        });
        var o = new ymaps.control.ZoomControl({
            options: {
                position: {
                    right: 10,
                    top: 50
                },
                size: "small"
            }
        });
        myMap.controls.add(o);
        myMap.behaviors.disable("scrollZoom");
        var s = new ymaps.Placemark([43.157062, 131.926061], {
            hintContent: "Волгоградская улица, 7А",
            balloonContent: "Волгоградская улица, 7А"
        }, {
            iconLayout: "default#image",
            iconImageHref: `/static/images/pin.svg`,
            iconImageSize: [30, 42],
            iconImageOffset: [-15, -42]
        });
        myMap.geoObjects.add(s);
    });

    var phoneInput = document.getElementById("feedbackForm").querySelector("#id_phone");
    var phoneMask = IMask(phoneInput, { mask: "+{7} (000) 000 00 00" });
    function validatePhoneNumber() {
        let t = phoneInput.value.replace(/\D/g, "");
        return t.length < 11 ? (phoneInput.setCustomValidity("Необходимо минимум 11 цифр"), !1) : (phoneInput.setCustomValidity(""), !0)
    }
    phoneInput.addEventListener("input", function () {
        validatePhoneNumber()
    });

    document.addEventListener('DOMContentLoaded', () => {

        let checkboxes = document.querySelectorAll('.tab input');
        console.log(checkboxes)

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('click', function () {
                let parent = this.parentNode;

                (!parent.classList.contains('selected')) ?
                    parent.classList.add('selected') :
                    parent.classList.remove('selected');
            });
        });


    });
</script>
{% endblock %}