{% extends 'base.html' %}
{% load static %}

{% block title %}Галерея - Напарили ДВ{% endblock %}

{% block content %}
<div class="breadcrumbs container font__inter">
    <div>
        <a href="{% url 'home:home' %}">Главная</a>
    </div>
    <div>
        <img src="{% static 'images/right-gray-arrow.svg' %}" alt="">
    </div>
    <div>
        <a href="{% url 'projects:catalog' %}">Галерея</a>
    </div>
</div>
<div class="gallery-page">
    <div class="news-page__header container">
        <div class="news__heading">
            <h1>Галерея</h1>
        </div>
        <hr class="news-page__header-hr--adaptive">
        <div class="news__header-right-buttons">
            <div class="news__header-button">
                <button>Дома</button>
            </div>
            <div class="news__header-button">
                <button>Коттеджи</button>
            </div>
            <div class="news__header-button">
                <button>Бани</button>
            </div>
        </div>
    </div>
    <hr class="news-page__header-hr container">
    <div class="container">
        <div class="article__content">
            <div class="article__content-block">
                <div class="article__paragraph">
                    <div class="article__paragraph-heading">
                        Внезапно, герцог графства коронован
                    </div>
                    <div class="article__paragraph-text font__inter">
                        Однозначно, сторонники тоталитаризма в науке заблокированы в рамках своих собственных рациональных ограничений. Кстати, акционеры крупнейших компаний призывают нас к новым свершениям, которые, в свою очередь, должны быть объявлены нарушающими общечеловеческие нормы этики и морали! Предварительные выводы неутешительны: глубокий уровень погружения однозначно фиксирует необходимость позиций, занимаемых участниками в отношении поставленных задач
        Каркасный дом - это дом, в основе которого есть несущий деревянный каркас. Он в свою очередь заполняется современными материалами для влаго-, ветро- и теплозащиты: Изоспан А, изоспин В, утеплитель Технониколь, и обшивается отделочными материалами (панели «Доке, имитация бруса, Данил «Ханья»). По завершении работ стена каркасного дома напоминает слоеный пиро
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-page__slider">
        <div class="gallery-page__photo">
            <img src="{% static 'images/gallery1.png' %}" alt="">
        </div>
        <div class="gallery-page__photo">
            <img src="{% static 'images/gallery1.png' %}" alt="">
        </div>
        <div class="gallery-page__photo">
            <img src="{% static 'images/gallery1.png' %}" alt="">
        </div>
        <div class="gallery-page__photo">
            <img src="{% static 'images/gallery1.png' %}" alt="">
        </div>
    </div>
    
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
    $('.photo-slider').slick({
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        adaptiveHeight: false,
        autoplay: false,
    });
});
$(document).ready(function () {
        $('.gallery-page__slider').slick({
            centerMode: true,
            arrows: true,
            infinite: true,
            slidesToShow: 1.7,
            slidesToScroll: 1,

            responsive: [, 
                {
                    breakpoint: 1600, 
                    settings: {
                        slidesToShow: 1.6, 
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 1024, 
                    settings: {
                        slidesToShow: 1, 
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 768, 
                    settings: {
                        slidesToShow: 1, 
                        slidesToScroll: 1
                    }
                }, 
                {
                    breakpoint: 576, 
                    settings: {
                        centerMode: true,
                        slidesToShow: 1, 
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });

var myMap;
ymaps.ready(function(){
    myMap = new ymaps.Map("map", {
        center: [43.157062, 131.926061], 
        zoom: 16, 
        controls: []
    });
    var o = new ymaps.control.ZoomControl({
          options: {
              position: {
                  right: 10,
                  top: 50
              },
              size: "small"
          }
      });
    myMap.controls.add(o);
    myMap.behaviors.disable("scrollZoom");
    var s = new ymaps.Placemark([43.157062, 131.926061], {
              hintContent: "Волгоградская улица, 7А",
              balloonContent: "Волгоградская улица, 7А"
          }, {
              iconLayout: "default#image",
              iconImageHref: `/static/images/pin.svg`,
              iconImageSize: [50, 50],
              iconImageOffset: [-15, -42]
          });
    myMap.geoObjects.add(s);
}); 
</script>
{% endblock %}