{% extends 'base.html' %} {% load static %} 

{% block title %}Политика конфиденциальности | Напарили ДВ{% endblock %} 
{% block meta_title %} Политика конфиденциальности | Напарили ДВ {% endblock %} 
{% block description %} Строительство каркасных домов под ключ. Закажите дом, баню или коттедж из газоблоков или бруса. Смотрите больше проектов на нашем сайте с фото и ценами! {% endblock %} 
{% block meta_description %} Строительство каркасных домов под ключ. Закажите дом, баню или коттедж из газоблоков или бруса. Смотрите больше проектов на нашем сайте с фото и ценами! {% endblock %} 

{% block content %}
<div class="breadcrumbs container font__inter">
<div>
<a href="{% url 'home:home' %}">Главная</a>
</div>
<div>
<img src="{% static 'images/right-gray-arrow.svg' %}" alt="Стрелка">
</div>
<div>
<a class=color__red href="{% url 'contacts:privacy_policy' %}">Политика конфиденциальности</a>
</div>
</div>
<div class="article container">
<div class=article__header>
<div class=article__heading>
<h1>Политика конфиденциальности</h1>
</div>
<hr class=article__header-hr--adaptive>
</div>
<hr class=article__header-hr>
<div class=article__content>
{% for paragraph in privacy_policy.paragraphs.all %}
<div class=article__content-block>
<div class=article__paragraph>
<div class=article__paragraph-heading>
{{ paragraph.title|linebreaks }}
</div>
<div class="article__paragraph-text font__inter">
{{ paragraph.content|linebreaks }}
</div>
</div>
</div>
{% endfor %}
</div>
</div>
<div class=about>
{% include 'contacts/includes/contacts_block.html' %}
</div>
{% endblock %} {% block script %}
<script>var myMap;$(document).ready((function(){$(".photo-slider").slick({dots:!0,infinite:!0,speed:500,slidesToShow:1,adaptiveHeight:!1,autoplay:!1})})),ymaps.ready((function(){myMap=new ymaps.Map("map",{center:[43.157062,131.926061],zoom:16,controls:[]});var o=new ymaps.control.ZoomControl({options:{position:{right:10,top:50},size:"small"}});myMap.controls.add(o),myMap.behaviors.disable("scrollZoom");var a=new ymaps.Placemark([43.157062,131.926061],{hintContent:"Волгоградская улица, 7А",balloonContent:"Волгоградская улица, 7А"},{iconLayout:"default#image",iconImageHref:"/static/images/pin.svg",iconImageSize:[30,42],iconImageOffset:[-15,-42]});myMap.geoObjects.add(a)}))</script>
{% endblock %}