{% extends 'base.html' %}
{% load static %}

{% block title %}Новости - Напарили ДВ{% endblock %}

{% block content %}
<div class="breadcrumbs container font__inter">
    <div>
        <a href="{% url 'home:home' %}">Главная</a>
    </div>
    <div>
        <img src="{% static 'images/right-gray-arrow.svg' %}" alt="">
    </div>
    <div>
        <a href="{% url 'blog:blog' %}">Новости</a>
    </div>
    <div>
        <img src="{% static 'images/right-gray-arrow.svg' %}" alt="">
    </div>
    <div>
        <a class="color__red" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    </div>
</div>
<div class="article container">
    <div class="article__header">
        <div class="article__heading">
            <h1>{{ article.title }}</h1>
        </div>
        <hr class="article__header-hr--adaptive">
        <div class="article__date">
            <i>{{ article.created_at|date:"d.m.Y" }}</i>
        </div>
    </div>
    <hr class="article__header-hr">
    <div class="article__content">
        {% for paragraph in article.paragraphs.all %}
            <div class="article__content-block">
                <div class="article__paragraph">
                    <div class="article__paragraph-heading">
                        {{ paragraph.title|linebreaks }}
                    </div>
                    <div class="article__paragraph-text">
                        {{ paragraph.content|linebreaks }}
                    </div>
                </div>
                {% if paragraph.image %}
                    <div class="article__image">
                        <img src="{{ paragraph.image.url }}" alt="">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="about">
    <div class="contacts container">
        <div class="contacts__small-left-column">
            <div class="contacts__heading">
                <h4>Контакты</h4>
            </div>
            <div class="contacts__info">
                <div class="contacts__block">
                    <div>
                        <img src="{% static 'images/contacts-icon-1.svg' %}" alt="">
                    </div>
                    <div>
                        <div class="contacts__block-heading">
                            <a href="{{ company_info.two_gis_profile }}">Главный офис:</a>
                        </div>
                        <div class="font__inter">
                            <a href="{{ company_info.two_gis_profile }}" class="font__inter">{{ company_info.address }}</a>
                        </div>
                    </div>
                </div>
                <div class="contacts__block">
                    <div>
                        <img src="{% static 'images/contacts-icon-2.svg' %}" alt="">
                    </div>
                    <div>
                        <div class="contacts__block-heading">
                            <p>Время работы:</p>
                        </div>
                        <div class="font__inter">
                            <p>{{ company_info.working_mode }}</p>
                        </div>
                    </div>
                </div>
                <div class="contacts__block">
                    <div>
                        <img src="{% static 'images/contacts-icon-3.svg' %}" alt="">
                    </div>
                    <div>
                        <div class="contacts__block-heading">
                            <a href="tel:{{ company_info.phone }}">Телефон:</a>
                        </div>
                        <div class="font__inter">
                            <a href="tel:{{ company_info.phone }}" class="font__inter">{{ company_info.phone }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__big-right-column">
            <div class="map" id="map">

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
    $('.photo-slider').slick({
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        adaptiveHeight: false,
        autoplay: false,
    });
});

var myMap;
ymaps.ready(function(){
    myMap = new ymaps.Map("map", {
        center: [43.157062, 131.926061], 
        zoom: 16, 
        controls: []
    });
    var o = new ymaps.control.ZoomControl({
          options: {
              position: {
                  right: 10,
                  top: 50
              },
              size: "small"
          }
      });
    myMap.controls.add(o);
    myMap.behaviors.disable("scrollZoom");
    var s = new ymaps.Placemark([43.157062, 131.926061], {
              hintContent: "Волгоградская улица, 7А",
              balloonContent: "Волгоградская улица, 7А"
          }, {
              iconLayout: "default#image",
              iconImageHref: `/static/images/pin.svg`,
              iconImageSize: [30, 42],
              iconImageOffset: [-15, -42]
          });
    myMap.geoObjects.add(s);
}); 
</script>
{% endblock %}