{% extends 'base.html' %}
{% load static %}

{% block title %}Напарили ДВ{% endblock %}

{% block content %}
<div class="breadcrumbs container font__inter">
    <div>
        <a>Главная</a>
    </div>
    <div>
        <img src="/static/images/right-gray-arrow.svg" alt="">
    </div>
    <div>
        <a>Каталог</a>
    </div>
</div>
<div class="catalog container">
    <div class="catalog__heading">
        <h1>Каталог</h1>
    </div>
    <div class="catalog__filters">
        <form action="">
            <div class="catalog__filters-categories">
                <div  class="catalog__filters-category">
                    <div class="catalog__checkbox-wrap">
                        <input type="checkbox" id="consent" name="consent" required>
                    </div>
                    <div>
                        <label for="consent">
                            Дома
                        </label>
                    </div>
                </div>
                <div class="catalog__filters-category">
                    <div class="catalog__checkbox-wrap">
                        <input type="checkbox" id="consent" name="consent" required>
                    </div>
                    <div>
                        <label for="consent">
                            Коттеджи
                        </label>
                    </div>
                </div>
                <div class="catalog__filters-category">
                    <div class="catalog__checkbox-wrap">
                        <input type="checkbox" id="consent" name="consent" required>
                    </div>
                    <div>
                        <label for="consent">
                            Бани
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="catalog__filters-parameters">
                <div>
                    <div class="catalog__filters-label">
                        <p>Выберите материал</p>
                    </div>
                    <div class="catalog__select-filter">
                        <select>
                            <option>Дом из газоблока</option>
                            <option>Дом из газоблока</option>
                            <option>Дом из газоблока</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="catalog__filters-label">
                        <p>Выберите тип кровли</p>
                    </div>
                    <div class="catalog__select-filter">
                        <select>
                            <option>Металлочерепица</option>
                            <option>Металлочерепица</option>
                            <option>Металлочерепица</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="catalog__filters-label">
                        <p>Выберите площадь (м2)</p>
                    </div>
                    <div class="catalog__range-filter">
                        <div class="catalog__filters-number-square">
                            <label for="min-price">От</label>
                            <input type="number" id="min-price" placeholder="80">
                        </div>
                        <div class="catalog__filters-number-square">
                            <label for="max-price">До</label>
                            <input type="number" id="max-price" placeholder="120">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="catalog__filters-label">
                        <p>Выберите площадь (м2)</p>
                    </div>
                    <div class="catalog__range-filter">
                        <div class="catalog__filters-number-price">
                            <label for="min-price">От</label>
                            <input type="number" id="min-price" placeholder="1 500 000">
                        </div>
                        <div class="catalog__filters-number-price">
                            <label for="max-price">До</label>
                            <input type="number" id="max-price" placeholder="15 000 000">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="catalog__filters-living-info">
                <div class="catalog__filters-radio-block">
                    <label for="" class="best-projects__filters-label">Этажей</label>
                    <div class="catalog__radio-group">
                        <div class="catalog__radio-button">
                            <input type="radio" id="floors-1" name="floors" value="1">
                            <label for="floors-1">1</label>
                        </div>
                        <div class="catalog__radio-button">
                            <input type="radio" id="floors-2" name="floors" value="2">
                            <label for="floors-2">2</label>
                        </div>
                    </div>
                </div>
                <div class="catalog__filters-radio-block">
                    <label for="" class="best-projects__filters-label">Количество спален</label>
                    <div class="catalog__radio-group">
                        <div class="catalog__radio-button">
                            <input type="radio" id="bedrooms-1" name="bedrooms" value="1">
                            <label for="bedrooms-1">1</label>
                        </div>
                        <div class="catalog__radio-button">
                            <input type="radio" id="bedrooms-2" name="bedrooms" value="2">
                            <label for="bedrooms-2">2</label>
                        </div>
                        <div class="catalog__radio-button">
                            <input type="radio" id="bedrooms-3" name="bedrooms" value="3">
                            <label for="bedrooms-3">3</label>
                        </div>
                        <div class="catalog__radio-button">
                            <input type="radio" id="bedrooms-4" name="bedrooms" value="4">
                            <label for="bedrooms-4">4</label>
                        </div>
                    </div>
                </div>
                <div class="catalog__filters-radio-block">
                    <label for="" class="best-projects__filters-label">Количество санузлов</label>
                    <div class="catalog__radio-group">
                        <div class="catalog__radio-button">
                            <input type="radio" id="bathroom-1" name="bathroom" value="1">
                            <label for="bathroom-1">1</label>
                        </div>
                        <div class="catalog__radio-button">
                            <input type="radio" id="bathroom-2" name="bathroom" value="2">
                            <label for="bathroom-2">2</label>
                        </div>
                        <div class="catalog__radio-button">
                            <input type="radio" id="bathroom-3" name="bathroom" value="3">
                            <label for="bathroom-3">3</label>
                        </div>
                        <div class="catalog__radio-button">
                            <input type="radio" id="bathroom-4" name="bathroom" value="4">
                            <label for="bathroom-4">4</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="catalog__projects">
        <div class="catalog__cards">
            {% for project in projects %}
                <div class="catalog__card">
                    <div class="photo-slider">
                        {% for photo in project.photos.all %}
                            <div class="best-projects__card-image photo-slider-item">
                                <img src="{{ photo.image.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="best-projects__card-text-container">
                        <div class="best-projects__card-heading">
                            <p>{{ project.name }}</p>
                        </div>
                        <hr>
                        <div class="best-projects__card-content">
                            <ul class="table-of-contents">
                                <li><span>Площадь</span><span>{{ project.square }} м2</span></li>
                                <li><span>Количество спален</span><span></span></li>
                                <li><span>Количество санузлов</span><span>1</span></li>
                                <li><span>Стоимость</span><span>от {{ project.price|floatformat:0 }} р</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="best-projects__order-button">
                        <button>Заказать строительство</button>
                    </div>
                    <div class="best-projects__more-button">
                        <button>Узнать подробнее</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="catalog__pagination">
            <div class="catalog__pagination-controls">
                <button class="catalog__pagination-arrow catalog__pagination-arrow-left"></button>
                <div>
                    <p>1 из 5</p>
                </div>
                <button class="catalog__pagination-arrow catalog__pagination-arrow-right"></button>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="info container">
        <div class="info__heading">
            <p>Текст для СЕО</p>
            <hr>
        </div>
        <div class="info__row">
            <div class="info__small-left-column">
            </div>
            <div class="info__big-right-column">
                <div class="info__block">
                    <div class="info__block-heading">
                        <p>Органический трафик определил дальнейшее развитие</p>
                    </div>
                    <div>
                        <p class="font__inter">Прежде всего, сплочённость команды профессионалов способствует подготовке и реализации системы обучения кадров, соответствующей насущным потребностям. Идейные соображения высшего порядка, а также высокотехнологичная концепция общественного уклада создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса инновационных методов управления процессами. Равным образом, понимание сути ресурсосберегающих технологий требует от нас анализа анализа существующих паттернов поведения</p>
                    </div>
                </div>
                <div class="info__block">
                    <div class="info__block-heading">
                        <p>В провинции никого не пугает песнь светлого будущего</p>
                    </div>
                    <div>
                        <p class="font__inter">Следует отметить, что консультация с широким активом в значительной степени обусловливает важность поэтапного и последовательного развития общества. Повседневная практика показывает, что существующая теория однозначно фиксирует необходимость экономической целесообразности принимаемых решений. Сложно сказать, почему акционеры крупнейших компаний формируют глобальную экономическую сеть и при этом — разоблачены</p>
                    </div>
                </div>
                <div class="info__block">
                    <div class="info__block-heading">
                        <p>Органический трафик определил дальнейшее развитие</p>
                    </div>
                    <div>
                        <p class="font__inter">Наше дело не так однозначно, как может показаться: высококачественный прототип будущего проекта является качественно новой ступенью экономической целесообразности принимаемых решений. Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня позволяет выполнить важные задания по разработке поставленных обществом задач. Приятно, граждане, наблюдать, как реплицированные с зарубежных источников, современные исследования набирают популярность среди определенных слоев населения, а значит, должны быть описаны максимально подробно</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts container">
        <div class="contacts__small-left-column">
            <div class="contacts__heading">
                <h4>Контакты</h4>
            </div>
            <div class="contacts__block">
                <div>
                    <img src="static/images/contacts-icon-1.svg" alt="">
                </div>
                <div>
                    <div class="contacts__block-heading">
                        <p>Главный офис:</p>
                    </div>
                    <div class="font__inter">
                        <p>г. Владивосток, Волгоградская 7</p>
                    </div>
                </div>
            </div>
            <div class="contacts__block">
                <div>
                    <img src="static/images/contacts-icon-2.svg" alt="">
                </div>
                <div>
                    <div class="contacts__block-heading">
                        <p>Время работы:</p>
                    </div>
                    <div  class="font__inter">
                        <p>ПН-СБ с 10:00 - 18:00</p>
                    </div>
                </div>
            </div>
            <div class="contacts__block">
                <div>
                    <img src="static/images/contacts-icon-3.svg" alt="">
                </div>
                <div>
                    <div class="contacts__block-heading">
                        <p>Телефон:</p>
                    </div>
                    <div  class="font__inter">
                        <p>+7 (908) 998-58-70</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__big-right-column">
            <div class="map" id="map">

            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
    $('.photo-slider').slick({
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        adaptiveHeight: false,
        autoplay: false,
    });
});

var myMap;
ymaps.ready(function(){
    myMap = new ymaps.Map("map", {
        center: [43.157062, 131.926061], 
        zoom: 16, 
        controls: []
    });
    var o = new ymaps.control.ZoomControl({
          options: {
              position: {
                  right: 10,
                  top: 50
              },
              size: "small"
          }
      });
    myMap.controls.add(o);
    myMap.behaviors.disable("scrollZoom");
    var s = new ymaps.Placemark([43.157062, 131.926061], {
              hintContent: "Волгоградская улица, 7А",
              balloonContent: "Волгоградская улица, 7А"
          }, {
              iconLayout: "default#image",
              iconImageHref: `/static/images/pin.svg`,
              iconImageSize: [30, 42],
              iconImageOffset: [-15, -42]
          });
    myMap.geoObjects.add(s);
}); 
</script>
{% endblock %}