{% extends 'base.html' %} {% load static %} 
{% load price_filters %}

{% block title %} Проекты каркасных домов, бань и коттеджей с фото, ценами и подробной схемой | Напарили ДВ {% endblock %} 
{% block meta_title %} Проекты каркасных домов, бань и коттеджей с фото, ценами и подробной схемой | Напарили ДВ {% endblock %} 
{% block description %} Смотрите проекты домов, бань и коттеджей с фото и схемой на нашем сайте. Проекты с 2, 3, 4 спальнями или несколькими санузлами. Выберите проект, который идеально подойдет именно вам! Оставьте заявку для уточнения деталей. {% endblock %} 
{% block meta_description %} Смотрите проекты домов, бань и коттеджей с фото и схемой на нашем сайте. Проекты с 2, 3, 4 спальнями или несколькими санузлами. Выберите проект, который идеально подойдет именно вам! Оставьте заявку для уточнения деталей.{% endblock %} 

{% block content %}
<div id=mobileCatalogFilterOverlay>
    <div id=mobileCatalogFilter>
        <div class=mobile-catalog__close-button id=closeMobileFilter>
            <button>
                <img src="{% static 'images/mobile-filters-close.svg' %}" alt="Закрыть">
            </button>
        </div>
        <div class=mobile-catalog__heading>
            <h4>Выбрать дом по параметрам</h4>
            <hr>
        </div>
        <form id=mobileFiltersForm action="">
            <div>
                <div class=catalog__filters-categories>
                    {% for category in form.categories %}
                    <div class=catalog__filters-category>
                        <div class=catalog__checkbox-wrap>
                            {{ category.tag }}
                        </div>
                        <div>
                            <label for="{{ category.id_for_label }}">
                                {{ category.choice_label }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class=catalog__filters-parameters>
                    <div>
                        <div class=catalog__filters-label>
                            <p>{{ form.materials.label }}</p>
                        </div>
                        <div class=catalog__select-filter>
                            {{ form.materials }}
                        </div>
                    </div>
                    <div>
                        <div class=catalog__filters-label>
                            <p>Выберите площадь (м²)</p>
                        </div>
                        <div class=catalog__range-filter>
                            <div class=catalog__filters-number-square>
                                <label for=min-price>От</label>
                                {{ form.square_min }}
                            </div>
                            <div class="double-number-filter-divider"></div>
                            <div class=catalog__filters-number-square>
                                <label for=max-price>До</label>
                                {{ form.square_max }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=catalog__filters-label>
                            <p>Выберите стоимость</p>
                        </div>
                        <div class=catalog__range-filter>
                            <div class=catalog__filters-number-price>
                                <label for=min-price>От</label>
                                {{ form.price_min }}
                            </div>
                            <div class="double-number-filter-divider"></div>
                            <div class=catalog__filters-number-price>
                                <label for=max-price>До</label>
                                {{ form.price_max }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class=catalog__filters-living-info>
                    <div class=catalog__filters-radio-block>
                        <div class=catalog__filters-label>
                            <p>Этажей</p>
                        </div>
                        <div class=catalog__radio-group>
                            {% for floor in form.floors_quantity %}
                            <div class=catalog__radio-button>
                                <input type=radio name="{{ floor.data.name }}" value="{{ floor.data.value }}"
                                    class=radio-toggle id="{{ floor.id_for_label }}" {% if floor.data.selected %}checked
                                    data-was-checked=true {% endif %}>
                                <label for="{{ floor.id_for_label }}">{{ floor.choice_label }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class=catalog__filters-radio-block>
                        <div class=catalog__filters-label>
                            <p>Количество спален</p>
                        </div>
                        <div class=catalog__radio-group>
                            {% for bedroom in form.bedrooms_quantity %}
                            <div class=catalog__radio-button>
                                <input type=radio name="{{ bedroom.data.name }}" value="{{ bedroom.data.value }}"
                                    class=radio-toggle id="{{ bedroom.id_for_label }}" 
                                    {% if bedroom.data.selected %} checked data-was-checked=true {% endif %}>
                                <label for="{{ bedroom.id_for_label }}">{{ bedroom.choice_label }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class=catalog__filters-radio-block>
                        <div class=catalog__filters-label>
                            <p>Количество санузлов</p>
                        </div>
                        <div class=catalog__radio-group>
                            {% for bathroom in form.bathrooms_quantity %}
                            <div class=catalog__radio-button>
                                <input type=radio name="{{ bathroom.data.name }}" value="{{ bathroom.data.value }}"
                                    class=radio-toggle id="{{ bathroom.id_for_label }}" {% if bathroom.data.selected %}checked data-was-checked=true {% endif %}>
                                <label for="{{ bathroom.id_for_label }}">{{ bathroom.choice_label }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-catalog__buttons">
                <div class=mobile-catalog__submit-button>
                    <button>Применить</button>
                </div>
                <div class=mobile-catalog__reset-button>
                    <a href="{{ request.path }}">Сбросить всё</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="breadcrumbs container font__inter">
    <div>
        <a href="{% url 'home:home' %}">Главная</a>
    </div>
    <div>
        <img src="{% static 'images/right-gray-arrow.svg' %}" alt="Стрелка">
    </div>
    <div>
        <a class=color__red href="{% url 'projects:catalog' %}">Каталог</a>
    </div>
</div>
<div class="catalog container">
    <div class=catalog__heading>
        <h1>
            {{ page_heading }}
        </h1>
    </div>
    <div class=best-projects__filters-adaptive>
        <div>
            <p>Выбрать дом по параметрам</p>
        </div>
        <div>
            <button id=openMobileFilters>
                <img src="{% static 'images/filters-icon.svg' %}" alt="Фильтры">
            </button>
        </div>
    </div>
    <div class=catalog__filters>
        <form id="desktopForm" action="">
            <div class=catalog__filters-categories>
                {% for category in form.categories %}
                <div class=catalog__filters-category>
                    <div class=catalog__checkbox-wrap>
                        {{ category.tag }}
                    </div>
                    <div>
                        <label for="{{ category.id_for_label  }}">
                            {{ category.choice_label }}
                        </label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class=catalog__filters-parameters>
                <div>
                    <div class=catalog__filters-label>
                        <p>{{ form.materials.label }}</p>
                    </div>
                    <div class=catalog__select-filter>
                        {{ form.materials }}
                    </div>
                </div>
                <div>
                    <div class=catalog__filters-label>
                        <p>{{ form.roof_types.label }}</p>
                    </div>
                    <div class=catalog__select-filter>
                        {{ form.roof_types }}
                    </div>
                </div>
                <div>
                    <div class=catalog__filters-label>
                        <p>Выберите площадь (м²)</p>
                    </div>
                    <div class=catalog__range-filter>
                        <div class=catalog__filters-number-square>
                            <label for=min-price>От</label>
                            {{ form.square_min }}
                        </div>
                        <div class="double-number-filter-divider"></div>
                        <div class=catalog__filters-number-square>
                            <label for=max-price>До</label>
                            {{ form.square_max }}
                        </div>
                    </div>
                </div>
                <div>
                    <div class=catalog__filters-label>
                        <p>Выберите стоимость</p>
                    </div>
                    <div class=catalog__range-filter>
                        <div class=catalog__filters-number-price>
                            <label for=min-price>От</label>
                            {{ form.price_min }}
                        </div>
                        <div class="double-number-filter-divider"></div>
                        <div class=catalog__filters-number-price>
                            <label for=max-price>До</label>
                            {{ form.price_max }}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class=catalog__filters-living-info>
                <div class=catalog__filters-radio-block>
                    <label for="" class=best-projects__filters-label>Этажей</label>
                    <div class=catalog__radio-group>
                        {% for floor in form.floors_quantity %}
                        <div class=catalog__radio-button>
                            <input type=radio name="{{ floor.data.name }}" value="{{ floor.data.value }}"
                                class=radio-toggle id="{{ floor.id_for_label }}_" {% if floor.data.selected %}checked
                                data-was-checked=true {% endif %}>
                            <label for="{{ floor.id_for_label }}_">{{ floor.choice_label }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class=catalog__filters-radio-block>
                    <label for="" class=best-projects__filters-label>Количество спален</label>
                    <div class=catalog__radio-group>
                        {% for bedroom in form.bedrooms_quantity %}
                        <div class=catalog__radio-button>
                            <input type=radio name="{{ bedroom.data.name }}" value="{{ bedroom.data.value }}"
                                class=radio-toggle id="{{ bedroom.id_for_label }}_" {% if bedroom.data.selected %}checked data-was-checked=true {% endif %}>
                            <label for="{{ bedroom.id_for_label }}_">{{ bedroom.choice_label }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class=catalog__filters-radio-block>
                    <label for="" class=best-projects__filters-label>Количество санузлов</label>
                    <div class=catalog__radio-group>
                        {% for bathroom in form.bathrooms_quantity %}
                        <div class=catalog__radio-button>
                            <input type=radio name="{{ bathroom.data.name }}" value="{{ bathroom.data.value }}"
                                class=radio-toggle id="{{ bathroom.id_for_label }}_" {% if bathroom.data.selected %}checked data-was-checked=true {% endif %}>
                            <label for="{{ bathroom.id_for_label }}_">{{ bathroom.choice_label }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div class=catalog__filters-submit-buttons>
                <div class=catalog__filters-submit-button>
                    <button type=submit>Применить фильтры</button>
                </div>
                <div class=catalog__filters-submit-button>
                    <a href="{{ request.path }}">
                        Сбросить всё
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="catalog__projects container">
    <div class=catalog__cards>
        {% for project in projects %}
        <div class=catalog__card>
            <div class=photo-slider>
                {% for photo in project.photos.all %}
                    {% if forloop.counter <= 2 or forloop.revcounter <= 2 %}
                        <div class="best-projects__card-image photo-slider-item">
                            <a href="{{ project.get_absolute_url }}"><img loading="lazy" src="{{ photo.image.url }}" alt="Фото проекта"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class=best-projects__card-text-container>
                <div class=best-projects__card-heading>
                    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                </div>
                <hr>
                <div class=best-projects__card-content>
                    <ul class=table-of-contents>
                        <li><span>Площадь</span><span>{{ project.square }} м2</span></li>
                        <li><span>Количество спален</span><span>{{ project.bedrooms_quantity }}</span></li>
                        <li><span>Количество санузлов</span><span>{{ project.bathrooms_quantity }}</span></li>
                        {% if project.price %}
                            <li><span>Стоимость</span><span>от {{ project.price|price_format }} р</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="best-projects__order-button openModal">
                <button class="orderButton" data-project-name="{{ project.name }}">Заказать строительство</button>
            </div>
            <div class=best-projects__more-button>
                <a href="{{ project.get_absolute_url }}">Узнать подробнее</a>
            </div>
        </div>
        {% empty %}
        <div class=catalog__not-found>
            <p>Ничего не найдено</p>
        </div>
        {% endfor %}
    </div>
    {% if projects %}
    <div class=catalog__pagination>
        <div class=catalog__pagination-controls>
            {% if projects.has_previous %}
            <a href="?page={{ projects.previous_page_number }}&{{ current_filters }}"
                class="catalog__pagination-arrow catalog__pagination-arrow-left"></a>
            {% else %}
            <a class="catalog__pagination-arrow catalog__pagination-arrow-left catalog__pagination-disabled"></a>
            {% endif %}
            <div>
                <p>{{ projects.number }} из {{ projects.paginator.num_pages }}</p>
            </div>
            {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}&{{ current_filters }}"
                class="catalog__pagination-arrow catalog__pagination-arrow-right"></a>
            {% else %}
            <a class="catalog__pagination-arrow catalog__pagination-arrow-right catalog__pagination-disabled"></a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<div class=about>
    {% include 'contacts/includes/contacts_block.html' %}
</div>
{% endblock %} 
{% block script %}
<link rel="preload" href="{% static 'css/select2.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<script defer>$(document).ready((function () { const t = (t, n) => { let e; return function (...i) { clearTimeout(e), e = setTimeout((() => t.apply(this, i)), n) } }, n = t => { const n = t.attr("max"), e = parseFloat(t.val()); e < 0 ? t.val(0) : void 0 !== n && e > parseFloat(n) && t.val(n) }; $('.catalog__filters input[type="number"]').on("input", t((function (t) { n($(this)) }), 150)), $('#mobileCatalogFilter input[type="number"]').on("input", t((function (t) { n($(this)) }), 150)) }))</script>
<script>var myMap; $(document).ready((function () { $(".photo-slider").slick({ dots: !0, infinite: !0, speed: 500, slidesToShow: 1, adaptiveHeight: !1, autoplay: !1 }) })), ymaps.ready((function () { myMap = new ymaps.Map("map", { center: [43.157062, 131.926061], zoom: 16, controls: [] }); var o = new ymaps.control.ZoomControl({ options: { position: { right: 10, top: 50 }, size: "small" } }); myMap.controls.add(o), myMap.behaviors.disable("scrollZoom"); var a = new ymaps.Placemark([43.157062, 131.926061], { hintContent: "Волгоградская улица, 7А", balloonContent: "Волгоградская улица, 7А" }, { iconLayout: "default#image", iconImageHref: "/static/images/pin.svg", iconImageSize: [30, 42], iconImageOffset: [-15, -42] }); myMap.geoObjects.add(a) }))</script>
<script>document.addEventListener("DOMContentLoaded", (() => { document.querySelectorAll(".catalog__pagination-controls a").forEach((e => { e.addEventListener("click", (a => { a.preventDefault(); const n = new URL(e.href); new URLSearchParams(window.location.search).forEach(((e, a) => { n.searchParams.has(a) || n.searchParams.set(a, e) })), window.location.href = n.toString() })) })) }))</script>
<script>document.addEventListener("DOMContentLoaded", (function () { const e = document.querySelectorAll(".radio-toggle"); e.forEach((function (t) { t.addEventListener("click", (function () { console.log("да"), "true" === this.dataset.wasChecked ? (this.checked = !1, this.dataset.wasChecked = "false") : this.dataset.wasChecked = "true", e.forEach((function (e) { e !== t && (e.dataset.wasChecked = "false") })) })) })) }))</script>
<script>document.addEventListener("DOMContentLoaded", (function () { const e = document.getElementById("openMobileFilters"), t = document.getElementById("closeMobileFilter"), l = document.getElementById("mobileCatalogFilter"), n = document.getElementById("mobileCatalogFilterOverlay"); e.addEventListener("click", (function () { l.style.display = "flex", n.style.display = "flex", document.querySelector("body").classList.toggle("scroll-disabled") })), t.addEventListener("click", (function () { l.style.display = "none", n.style.display = "none", document.querySelector("body").classList.toggle("scroll-disabled") })) }))</script>
<link href=https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css rel=stylesheet>
<script src=https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js defer></script>
<script defer>$(document).ready((function () { window.innerWidth < 1200 ? $("#mobileFiltersForm select").select2() : $("select").select2() }))</script>
<script>
    // Обработка нажатий на label чекбоксов
    // Десктоп
    const categoriesChackboxes = document.querySelectorAll("#desktopForm .catalog__filters-categories label");
    categoriesChackboxes.forEach(label => {
        label.addEventListener('click', event  => {
            event.preventDefault();
            const label_for = label.getAttribute('for');
            var checkbox = document.querySelector('#desktopForm').querySelector(`#${label_for}`);
            if (checkbox) {
                checkbox.checked = !checkbox.checked;
            }
        });
    });

    // Мобильная версия
    const mobileCategoriesChackboxes = document.querySelectorAll("#mobileCatalogFilter .catalog__filters-categories label");
    mobileCategoriesChackboxes.forEach(label => {
        label.addEventListener('click', event  => {
            event.preventDefault();
            const label_for = label.getAttribute('for');
            var checkbox = document.querySelector('#mobileCatalogFilter').querySelector(`#${label_for}`);
            console.log(checkbox)
            if (checkbox) {
                checkbox.checked = !checkbox.checked;
            }
        });
    });

    function initPrescriptionMessageInModal() {
        const orderButtons = document.querySelectorAll(".orderButton"); 
        console.log(orderButtons)
        const messageField = document.getElementById("id_message"); 
        orderButtons.forEach((button) => {
            button.addEventListener("click", function () {
                console.log('Нажатие')
                const projectName = button.getAttribute("data-project-name");
                messageField.value = `Я заинтересовался проектом ${projectName}`;
        });

        }) 
    }
    document.addEventListener("DOMContentLoaded", function () {
        initPrescriptionMessageInModal();
    });
</script>
{% endblock %}