{% load static %}

<html>

<head>
    <meta name=viewport content="width=device-width,initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>
    <meta name=description content="{% block description %}{% endblock %}">
    <meta property=og:title content="{% block meta_title %}{% endblock %}">
    <meta property=og:description content="{% block meta_description %}{% endblock %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/slick/slick/slick.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick-theme.css' %}">
    <script src="{% static 'js/imask/Imask.min.js' %}"></script>
    
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}" defer>
    <link rel="stylesheet" href="{% static 'css/luminous-lightbox.css' %}" defer>

    <link rel=icon type=image/png sizes=16x16 href="{% static 'images/logo.svg' %}">
</head>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-feedback__close-button" id="closeModal">
            <button>
                <img src="{% static 'images/close-modal.svg' %}" alt="Закрыть">
            </button>
        </div>
        <div class="modal-feedback__image">
            <img src="{% static 'images/modal-feedback-image.webp' %}" alt="Картинка">

        </div>
        <div class="modal-feedback__image--adaptive">
            <img src="{% static 'images/modal-feedback-adaptive.webp' %}" alt="Картинка">
        </div>
        <div class="modal-feedback__form-section">
            <div class="modal-feedback__header">
                <h5>Хотите построить дом мечты?</h5>
                <hr>
                <p>Оставьте заявку и наш менеджер свяжется<br>с вами для уточнения всех деталей</p>
            </div>
            <form id="modalFeedbackForm" class="modal-feedback__form">
                {% csrf_token %}
                <div>
                    <div class="modal-feedback__inputs">
                        <div>
                            {{ modal_feedback_form.name }}
                        </div>
                        <div>
                            {{ modal_feedback_form.phone }}
                        </div>
                    </div>

                    <div class="modal-feedback__agreement">
                        <div class="modal-feedback__checkbox-wrap">
                            <input type="checkbox" id="consent" name="consent" required>
                        </div>
                        <div>
                            <label for="consent" class="modal-feedback__checkbox-label">
                                Даю своё согласие на обработку моих<br>
                                <a id="userAgreementLink" target="_blank"
                                    href="{% url 'contacts:privacy_policy' %}">персональных данных</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-feedback__send animated">
                    <button type="submit">
                        <img src="{% static 'images/send-modal.svg' %}" alt="Отправить">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalSuccess" class="modalSuccess">
    <div class="modal-success-content">
        <div>
            <div class="modal-feedback__success-header">
                <h5>Спасибо!</h5>
                <hr>
                <div class="modal-feedback__success-text">
                    <p>В самое ближайшее время мы<br> свяжемся с Вами!</p>
                </div>
            </div>
            <div class="modal-feedback__back animated">
                <button id="closeSuccessModal" type="submit">
                    <img src="{% static 'images/modal-back.svg' %}" alt="На главную">
                </button>
            </div>
        </div>
    </div>
</div>

<body>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__left-part">
                    <div class="header__logo">
                        <a href="{% url 'home:home' %}" class="header__logo-link">
                            <img src="{% static 'images/logo.svg' %}" alt="Логотип">
                        </a>
                    </div>
                    <div class="header__company-name">
                        <a href="/">Напарили ДВ</a>
                    </div>
                </div>
                <div class="header__hamburger-wrapper">
                    <div class="header__phone-adaptive">
                        <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                    </div>
                    <button class="header__hamburger" aria-label="Toggle menu">
                        <img class="header__hamburger--menu" src="{% static 'images/burger.svg' %}" alt="Меню">
                        <img class="header__hamburger--close" src="{% static 'images/close.svg' %}" alt="Закрыть">
                    </button>
                </div>

                <div class="header__nav">
                    <div class="header__menu">
                        <div class="header__menu-link">
                            <a href="{% url 'projects:catalog' %}">Каталог</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="{% url 'contacts:about_company' %}">О компании</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="{% url 'contacts:gallery' %}">Галерея</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="{% url 'blog:blog' %}">Новости</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="{% url 'contacts:contacts' %}">Контакты</a>
                        </div>
                    </div>
                    <div class="header__right-part">
                        <div class="header__phone">
                            <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                        </div>
                        <div class="header__call-button">
                            <p href="" class="openModal">Позвоните мне</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer class="footer-container">
        {% if is_not_found_page %}
        <hr class="not-found--hr">
        {% endif %}
        <div class="footer__label">
            <p>Нужен дом?</p>
            <hr>
        </div>
        <div class="footer__row">
            <div class="footer__links">
                <div class="footer__column">
                    <div class="footer__link">
                        <a href="{% url 'projects:catalog' %}">Каталог</a>
                    </div>
                    <div class="footer__link">
                        <a href="{% url 'blog:blog' %}">Новости</a>
                    </div>
                    <div class="footer__link">
                        <a href="{% url 'contacts:gallery' %}">Галерея</a>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__link">
                        <a href="{% url 'contacts:contacts' %}">Контакты</a>
                    </div>
                    <div class="footer__link">
                        <a href="{% url 'contacts:about_company' %}">О компании</a>
                    </div>
                    <div class="footer__link">
                        <a href="{% url 'contacts:about_company' %}">Наша команда</a>
                    </div>
                </div>
            </div>
            <div class="footer-right-column">
                <div>
                    <a href="{% url 'contacts:about_company' %}">Партнёры и сертификаты</a>
                </div>
                <div class="footer__phone">
                    <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                </div>
            </div>

            <div class="footer__button openModal">
                <button class="animated">
                    <img src="{% static 'images/leave-request.svg' %}" alt="Оставить заявку">
                </button>
            </div>
        </div>
        <div class="footer__phone-adaptive">
            <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
        </div>
        <hr>
        <div class="footer__row footer__juridical footer-container">
            <div class="footer__column">
                <p>{{ company_info.full_name }}</p>
                <p>ИНН {{ company_info.inn }}</p>
                <p>ОГРН {{ company_info.ogrn }}</p>
            </div>
            <div class="footer__column footer__rights-reserved">
                <p>© 2004. Все права защищены. Копирование и использование информации с сайта без согласия владельца
                    запрещены и преследуется по закону</p>
            </div>
            <div class="footer__column">
                <a href="{% url 'contacts:privacy_policy' %}">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>

</body>

<!-- Меню-бургер -->
<script src="{% static 'js/header.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let scrollPosition = 0;

        document.querySelector(".header__hamburger").addEventListener("click", function () {
            this.classList.toggle("active");
            const nav = document.querySelector(".header__nav");
            const body = document.querySelector("body");

            nav.classList.toggle("active");

            if (nav.classList.contains("active")) {
                // Сохраняем текущую позицию и отключаем прокрутку
                scrollPosition = window.scrollY;
                body.classList.add("scroll-disabled");
                body.style.top = `-${scrollPosition}px`;
            } else {
                // Убираем блокировку и восстанавливаем позицию
                body.classList.remove("scroll-disabled");
                body.style.top = "";
                window.scrollTo(0, scrollPosition);
            }
        });
    });
</script>

<!-- Модальное окно -->
<script>
    document.addEventListener('DOMContentLoaded', () => {

        const modal = document.getElementById('modal');
        const modalSuccess = document.getElementById('modalSuccess');
        const closeModalButton = document.getElementById('closeModal');
        const closeSuccessModalButton = document.getElementById('closeSuccessModal');
        const feedbackForm = document.getElementById('modalFeedbackForm');
        const formSection = document.getElementById('modal');
        const successSection = document.getElementById('modalSuccess');

        const openModalButtons = document.querySelectorAll('.openModal');


        openModalButtons.forEach((button) => {
            button.addEventListener('click', () => {
                modal.style.display = 'flex';
            });
        });

        closeModalButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });
        closeSuccessModalButton.addEventListener('click', () => {
            modalSuccess.style.display = 'none';
        });

        window.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.style.display = 'none';
            }
        });

        feedbackForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            formSection.style.display = 'none';
            successSection.style.display = 'flex';

            let q = new FormData(feedbackForm),
                o = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            feedbackForm.reset();

            try {
                let s = await fetch(`${window.location.origin}/contacts/api/save-request/`, {
                    method: "POST",
                    body: q,
                    headers: {
                        "X-CSRFToken": o
                    }
                });
                s.status
            } catch (n) {
                console.error("Ошибка запроса:", n)
            }
        });

        var modalPhoneInput = document.getElementById("modalFeedbackForm").querySelector('input[type="tel"]');
        var modalPhoneMask = IMask(modalPhoneInput, { mask: "+{7} (000) 000 00 00" });
        function validatePhoneNumber() {
            let t = modalPhoneInput.value.replace(/\D/g, "");
            return t.length < 11 ? (modalPhoneInput.setCustomValidity("Необходимо минимум 11 цифр"), !1) : (modalPhoneInput.setCustomValidity(""), !0)
        }
        modalPhoneInput.addEventListener("input", function () {
            validatePhoneNumber()
        });
    });

</script>

<script>
    // Анимация кнопок
    document.querySelectorAll('.animated').forEach(function (button) {
        button.addEventListener('mousedown', function () {
            this.classList.add('clicked');

            setTimeout(() => {
                this.classList.remove('clicked');
            }, 300);
        });

        // Убираем класс при отпускании кнопки
        button.addEventListener('mouseup', function () {
        });

        button.addEventListener('blur', function () {
            this.classList.remove('clicked');
        });
    });
</script>

<!-- Метрика -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(99270864, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/99270864" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% block script %}
{% endblock %}

</html>