{% load static %}

<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/slick/slick/slick.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick-theme.css' %}">
    <script src="{% static 'js/imask/Imask.min.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel=icon type=image/png sizes=16x16 href="{% static 'images/logo.svg' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-feedback__close-button" id="closeModal">
            <button>
                <img src="{% static 'images/close-modal.svg' %}" alt="">
            </button>
        </div>
        <div id="formSection">
            <div class="modal-feedback__header">
                <h5>Заполните обратную форму</h5>
                <hr>
                <p>И наш менеджер свяжется с Вами в ближайшее время</p>
            </div>
            <form id="feedbackForm" class="modal-feedback__form">
                <div>
                    <div class="modal-feedback__inputs">
                        <div>
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div>
                            <input type="tel" placeholder="+7">
                        </div>
                    </div>
                    
                    <div class="modal-feedback__agreement">
                        <div class="modal-feedback__checkbox-wrap">
                            <input type="checkbox" id="consent" name="consent" required>
                        </div>
                        <div>
                            <label for="consent" class="modal-feedback__checkbox-label">
                                Даю своё согласие на обработку моих
                                <a id="userAgreementLink" target="_blank">персональных данных</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-feedback__send">
                    <button type="submit">
                        <img src="{% static 'images/send-modal.svg' %}" alt="">
                    </button>
                </div>
            </form>
        </div>

        <div id="successSection" style="display: none;">
            <div class="modal-feedback__success-header">
                <h5>Спасибо!</h5>
                <hr>
                <div class="modal-feedback__success-text">
                    <p>В самое ближайшее время мы свяжемся с Вами!</p>
                </div>
            </div>
            <div class="modal-feedback__back">
                <a href="{% url 'home:home' %}">
                    <button type="submit">
                        <img src="{% static 'images/modal-back.svg' %}" alt="">
                    </button>
                </a>
            </div>
        </div>
    </div>
  </div>

<body>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__left-part">
                    <div class="header__logo">
                        <a href="{% url 'home:home' %}" class="header__logo-link">
                            <img src="{% static 'images/logo.svg' %}" alt="">
                        </a>
                    </div>
                    <div class="header__company-name">
                        <a href="/">Напарили ДВ</a>
                    </div>
                </div>
                <button class="header__hamburger" aria-label="Toggle menu">
                    <img class="header__hamburger--menu" src="{% static 'images/burger.svg' %}" alt="Меню">
                    <img class="header__hamburger--close" src="{% static 'images/close.svg' %}" alt="Закрыть">
                </button>
                <div class="header__nav">
                    <div class="header__menu">
                        <div class="header__menu-link">
                            <a href="{% url 'projects:catalog' %}">Каталог</a>
                        </div>
                        <div class="nav__dropdown">
                            <a class="nav__dropdown-button nav__link">О компании</a>
                            <div class="nav__dropdown-content-wrapper">
                                <div class="nav__dropdown-content nav__link">
                                    <a href="" class="nav__link">Контакты</a>
                                    <a href="" class="nav__link">Вакансии</a>
                                    <a href="" class="nav__link">Юридическая информация</a>
                                    <a href="" class="nav__link">Галерея</a>
                                </div>
                            </div>
                        </div>
                        <div class="header__menu-link">
                            <a href="http://127.0.0.1:5500/catalog.html">Портфолио</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="http://127.0.0.1:5500/catalog.html">Новости</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="http://127.0.0.1:5500/catalog.html">Контакты</a>
                        </div>
                    </div>
                    <div class="header__right-part">
                        <div class="header__phone">
                            <p>+7 953 223-49-73</p>
                        </div>
                        <div class="header__call-button">
                            <a href="">Позвоните мне</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <div class="footer__label footer-container">
            <p>Нужен дом?</p>
        </div>
        <div class="footer__row footer-container">
            <div class="footer__links">
                <div class="footer__column">
                    <div class="footer__link">
                        <p>Каталог</p>
                    </div>
                    <div class="footer__link">
                        <p>О компании</p>
                    </div>
                    <div class="footer__link">
                        <p>Портфолио</p>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__link">
                        <p>Новости</p>
                    </div>
                    <div class="footer__link">
                        <p>Контакты</p>
                    </div>
                </div>
            </div>
            <div class="footer-right-column">
                <div>
                    <p>Партнёры и сертификаты</p>
                </div>
                <div class="footer__phone">
                    <p>+7 (904) 626-02-49</p>
                </div>
            </div>

            <div class="footer__button">
                <button>
                    <img src="{% static 'images/leave-request.svg' %}" alt="">
                </button>
            </div>
        </div>
        <hr>
        <div class="footer__row footer__juridical footer-container">
            <div class="footer__column">
                <p>ООО АЛЬЯНССТРОЙСЕРВИС</p>
                <p>ИНН 2536327428</p>
                <p>ОГРН 1212500007961</p>
            </div>
            <div class="footer__column footer__rights-reserved">
                <p>© 2004. Все права защищены. Копирование и использование информации с сайта без согласия владельца
                    запрещены и преследуется по закону</p>
            </div>
            <div class="footer__column">
                <a href="">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>

</body>

<!-- Меню-бургер -->
<script src="{% static 'js/header.js' %}"></script>
 <script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelector(".header__hamburger").addEventListener("click", function () {
        this.classList.toggle("active");
        document.querySelector(".header__nav").classList.toggle("active");
    });
});

</script>

<!-- Модальное окно -->
<script>
document.addEventListener('DOMContentLoaded', () => {

  const modal = document.getElementById('modal');
  const closeModalButton = document.getElementById('closeModal');
  const feedbackForm = document.getElementById('feedbackForm');
  const formSection = document.getElementById('formSection');
  const successSection = document.getElementById('successSection');

  const openModalButtons = document.querySelectorAll('.openModal');


  openModalButtons.forEach((button) => {
    button.addEventListener('click', () => {
      modal.style.display = 'flex';
    });
  });

  closeModalButton.addEventListener('click', () => {
    modal.style.display = 'none';
  });

  window.addEventListener('click', (e) => {
    if (e.target === modal) {
      modal.style.display = 'none';
    }
  });


  feedbackForm.addEventListener('submit', (e) => {
    e.preventDefault(); 
    formSection.style.display = 'none'; 
    successSection.style.display = 'block'; 
  });
});
</script>

{% block script %}
{% endblock %}

</html>