{% load static %}

<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/slick/slick/slick.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick-theme.css' %}">
    <script src="{% static 'js/imask/Imask.min.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel=icon type=image/png sizes=16x16 href="{% static 'images/logo.svg' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__left-part">
                    <div class="header__logo">
                        <a href="{% url 'home:home' %}" class="header__logo-link">
                            <img src="{% static 'images/logo.svg' %}" alt="">
                        </a>
                    </div>
                    <div class="header__company-name">
                        <a href="{% url 'home:home' %}">Напарили ДВ</a>
                    </div>
                </div>
                <div class="header__menu">
                    <div class="header__menu-link">
                        <a href="{% url 'projects:catalog' %}">Каталог</a>
                    </div>
                    <div class="nav__dropdown">
                        <a class="nav__dropdown-button nav__link">О компании</a>
                        <div class="nav__dropdown-content-wrapper">
                            <div class="nav__dropdown-content nav__link">
                                <a href="" class="nav__link">Контакты</a>
                                <a href="" class="nav__link">Вакансии</a>
                                <a href="" class="nav__link">Юридическая информация</a>
                                <a href="" class="nav__link">Галерея</a>
                            </div>
                        </div>
                    </div>
                    <div class="header__menu-link">
                        <a href="http://127.0.0.1:5500/catalog.html">Портфолио</a>
                    </div>
                    <div class="header__menu-link">
                        <a href="http://127.0.0.1:5500/catalog.html">Новости</a>
                    </div>
                    <div class="header__menu-link">
                        <a href="http://127.0.0.1:5500/catalog.html">Контакты</a>
                    </div>
                </div>
                <div class="header__right-part">
                    <div class="header__phone">
                        <p>+7 953 223-49-73</p>
                    </div>
                    <div class="header__call-button">
                        <a href="">Позвоните мне</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <div class="footer__label footer-container">
            <p>Нужен дом?</p>
        </div>
        <div class="footer__row footer-container">
            <div class="footer__links">
                <div class="footer__column">
                    <div class="footer__link">
                        <p>Каталог</p>
                    </div>
                    <div class="footer__link">
                        <p>О компании</p>
                    </div>
                    <div class="footer__link">
                        <p>Портфолио</p>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__link">
                        <p>Новости</p>
                    </div>
                    <div class="footer__link">
                        <p>Контакты</p>
                    </div>
                </div>
            </div>
            <div class="footer-right-column">
                <div>
                    <p>Партнёры и сертификаты</p>
                </div>
                <div class="footer__phone">
                    <p>+7 (904) 626-02-49</p>
                </div>
            </div>

            <div class="footer__button">
                <button>
                    <img src="{% static 'images/leave-request.svg' %}" alt="">
                </button>
            </div>
        </div>
        <hr>
        <div class="footer__row footer__juridical footer-container">
            <div class="footer__column">
                <p>ООО АЛЬЯНССТРОЙСЕРВИС</p>
                <p>ИНН 2536327428</p>
                <p>ОГРН 1212500007961</p>
            </div>
            <div class="footer__column footer__rights-reserved">
                <p>© 2004. Все права защищены. Копирование и использование информации с сайта без согласия владельца
                    запрещены и преследуется по закону</p>
            </div>
            <div class="footer__column">
                <a href="">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>

</body>

{% block script %}
{% endblock %}

</html>