{% load price_filters %}

{% for project in best_projects %}
<div class="best-projects__card">
    <div class="photo-slider">
        {% for photo in project.photos.all %}
            {% if forloop.counter <= 2 or forloop.revcounter <= 2 %}
                <div class="best-projects__card-image photo-slider-item">
                    <a href="{{ project.get_absolute_url }}">
                        <img loading="lazy" src="{{ photo.image.url }}" alt="Фото проекта">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="best-projects__card-text-container">
        <div class="best-projects__card-heading">
            <a target="_blank" href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        </div>
        <hr>
        <div class="best-projects__card-content">
            <ul class="table-of-contents">
                <li><span>Площадь</span><span>{{ project.square }} м²</span></li>
                {% if project.bedrooms_quantity > 0 %}
                    <li><span>Количество спален</span><span>{{ project.bedrooms_quantity }}</span></li>
                {% endif %}
                {% if project.bathrooms_quantity > 0 %}
                    <li><span>Количество санузлов</span><span>{{ project.bathrooms_quantity }}</span></li>
                {% endif %}
                {% if project.price %}
                    <li><span>Стоимость</span><span>от {{ project.price|price_format }} р</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="best-projects__order-button openModal">
        <button>Заказать строительство</button>
    </div>
    <div class="best-projects__more-button">
        <a target="_blank" href="{{ project.get_absolute_url }}">Узнать подробнее</a>
    </div>
</div>
{% empty %}
<p>Проекты не найдены.</p>
{% endfor %}